script(src='#{bower}/modernizr/modernizr.js')
script(src='#{bower}/lodash/dist/lodash.js')
script(src='#{bower}/angular/angular.js')
script(src='#{bower}/angular-animate/angular-animate.js')
script(src='#{bower}/angular-translate/angular-translate.js')
script(src='#{bower}/angular-cookies/angular-cookies.js')
script(src='#{bower}/angular-sanitize/angular-sanitize.js')
script(src='#{bower}/angular-ui-router/release/angular-ui-router.js')
script(src='#{bower}/restangular/dist/restangular.js')
script(src='#{bower}/angularytics/dist/angularytics.js')
script(src='#{bower}/angular-raven/angular-raven.js')
script(src='scripts/app.js')
script(src='scripts/config.js')
script(src='scripts/controllers/main.js')
script(src='scripts/directives/default.js')
script(src='scripts/filters/default.js')
script(src='scripts/services/default.js')
script(src='scripts/modules/default.js')
